.wrap-right {
    background-color: rgb(15, 15, 15);
    width: calc(100% - 325px);
}

.wrap-right {
    overflow-y: auto;
    height: 100%;
}

[v-cloak] {
    display: none;
}

.display {
    display: flex;
    justify-content: flex-end;
}


.wrap-right .display .edit {
    background-color: rgb(47 44 44);
    width: 85px;
    height: 30px;
    border-radius: 5px;
}

.xxxxxxx {
    height: 60px;
    padding-top: 20px;
}

.el-input__icon {
    height: 25%;
    width: 17px;
    text-align: center;
    transition: all .3s;
}

.wrap-right .display .edit .icon {
    position: relative;
    bottom: 0px;
    right: 13px;
    width: 20px;
    height: 20px;
}

.wrap-right .display .delete {
    background-color: rgb(47 44 44);
    width: 90px;
    height: 30px;
    border-radius: 5px;
}

.wrap-right .display .delete .icon {
    position: relative;
    top: 4px;
    right: 1px;
    width: 20px;
    height: 20px;
}

.wrap-right .display .edit .name {
    color: #fff;
    font-size: 15px;
    position: relative;
    right: 0px;
    bottom: 4px;
}

.wrap-right .display .delete .name {
    color: #fff;
    font-size: 15px;
    position: relative;
    padding-left: 9px;
}

.login .logicn {
    color: rgb(131, 131, 131);
    font-size: 13px;
}

.daobe .name {
    margin: 0;
    color: #fff;
    font-size: 24px;
}

img {
    width: 46px;
    height: 46px;
}

.main-max {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    padding: 20px 0 20px 0;
}

.borderbottom {
    border-bottom: 2px solid #3a3132db;
}

.duanluo {
    padding-top: 30px;
}

.username {
    padding-bottom: 10px;
    padding-top: 23px;
}

.special {
    color: #fff;
}

.private p {
    color: #fff;
}

.private span {
    color: #fff;
}

.max-width {
    width: 380px;
    margin: 0 auto;
}

.main-center {
    padding-top: 25px;
}

.el-input__suffix-inner {
    position: relative;
    top: 35px;
}

.el-input--suffix .el-input__inner {
    padding-right: 30px;
    padding-top: 18px;
    height: 60px;
}

.max-width button {
    padding: 0;
    margin: 0;
    border: none;
    margin-left: 15px;
    background-color: rgb(47 44 44);
}

.imag {
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
    left: 9px;
}

.xxx {
    color: rgb(131, 131, 131);
    font-size: 14px;
}

.aaaaa {
    font-size: 15px;
    color: #fff;
}

.bottom .duanluo .great p {
    color: #fff;
    font-size: 14px;
}

#copy {
    float: right;
    position: relative;
    bottom: 26px;
    right: 6px;
}

.png {
    width: 20px;
    height: 20px;
}

.wordicon {
    display: flex;
    justify-content: start;
}

.margintop {
    height: 60px;
    padding-top: 20px;
}

.aasdadadwdawd {
    margin: 0;
    font-size: 10px;
    padding-left: 13px;
    color: #686868;
}

.position {
    position: relative;
    top: 5px;
}

.wenzi {
    margin-left: 30px;
}