li {
    list-style: none;
}

ul {
    margin: 0;
}

input {
    outline: none;
}

.preprefix {
    display: flex;
    align-items: center
}

.all-button {
    margin: 0 auto;
    max-width: 300px;
}

.header-name {
    width: 35%;
    height: 700px;
    background-color: rgb(30 30 30);
}

.all-div {
    display: flex;
    width: 82%;
}

.icon-user {
    width: 20px;
    height: 20px;
}

.input-text {
    color: rgb(24 24 24 / 80%);
    background: transparent;
    padding: 0px 20px;
    outline: none;
    width: 183px;
    height: 21px;
    background-image: url(https://tva1.sinaimg.cn/large/0074R88yly8h4parmj1u0j300k00k0d2.jpg);
    border-radius: 10px;
}

.address {
    color: red;
}

.input {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.el-input__inner {
    background-color: #404040;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    color: #686868;
    height: 30px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
}


.el-input .el-input__clear {
    color: #C0C4CC;
    font-size: 14px;
    cursor: pointer;
    transition: color .2s cubic-bezier(.645, .045, .355, 1);
    position: relative;
    bottom: 5px;
    right: 28px;
}

.icon-a {
    border-radius: 7px;
    background-color: #005fe4;
    width: 35px;
    height: 30px;
}

.icon-img {
    width: 20px;
    height: 20px;
    position: relative;
    left: 7px;
    top: 5px;
}

.hualigs {
    display: flex;
    align-items: center;
    position: relative;
    top: 7px;
    left: 2px;
    width: 17px;
    height: 17px;
}

.password-right {
    padding-left: 16px;
}

.password-left {
    width: 45px;
    height: 45px;
    border-radius: 5px;
}

.password-leftwhite {
    width: 45px;
    height: 45px;

    border-radius: 5px;
}
.is-active{
    border-radius: 5px;
    background: #005fe4;
}
.imbg {
    width: 55px;
    height: 55px;
    position: relative;
    right: 4px;
}

.password-leftb {
    background-color: rgb(211, 97, 18);
    /* width: 30px; */
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

.password-leftc {
    background-color: rgb(58, 74, 140);
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

.password-lefte {
    background-color: #efb700;
    width: 45px;
    height: 45px;
    border-radius: 6px;
}

.imcg {
    position: relative;
    top: 9px;
    left: 9px;
}

.imdg {
    width: 31px;
    position: relative;
    top: 7px;
    left: 3px;
}

.password-jkl {
    padding-left: 12px;
}

.password-jklb {
    padding-left: 20px;
}

.header-right {
    padding: 35px 0 50px 0;
}