.padding {

    .flex-item {
        padding-left: 20px;
    }

    .flex-type {
        padding-top: 30px;
        padding-left: 20px;
    }

    .folders {
        padding-top: 25px;
        padding-left: 20px;
    }

    li {
        list-style: none;
    }

    ul {
        margin: 0;
    }

    .header li ul {
        color: #fff;
    }

    .number {
        color: #dcdfe633;
        padding-left: 85px;
        font-size: 13px;
    }

    .items {
        color: #fff;
        padding-left: 12px;
        text-decoration: none;
    }

    .type {
        color: RGB(122, 122, 122);
        font-size: 8px;
        position: relative;
        right: 6px;
    }

    .center-third {
        padding-top: 6px;
    }

    .folder {
        color: #fff;
        padding-left: 5px;
    }

    .flex {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    .padding-floder {
        padding: 185px 0 0 0;
    }

    .right {
        position: relative;
        right: 5px;
    }

    .name {
        padding: 3px;
    }

}

.icon {
    position: relative;
    top: 1px;
}